<app-nav></app-nav>
<br><br>
<!-- Loader -->
<div *ngIf="loading" class="textWrapper">
    <p class="text">Cargando la tabla, espere unos minutos por favor...</p>
    <div class="invertbox"></div>
</div>

<!-- Tabla -->
<div *ngIf="!loading">
    <table>
        <thead>
            <tr>
                <th>Nro Resolucion</th>
                <th>Título</th>
                <th>Expte</th>
                <th>Carátula</th>
                <th>Fecha</th>
                <th>Distribuidora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of resolucionesPaginadas">
                <td>{{ r.t_resolucionesnro }}</td>
                <td>{{ r.t_resolucionestitulo }}</td>
                <td>{{ r.t_resolucionesexpte }}</td>
                <td>{{ r.t_resolucionesexptecaratula }}</td>
                <td>{{ r.t_resolucionesdate | date }}</td>
                <td>{{ r.distribuidoraNombre }}</td>
                <td>
                    <button (click)="eliminarResolucion(r.t_resolucionesid!)">Eliminar</button>
                    <button (click)="descargarPDF(r.t_resolucionesid!)">Descargar PDF</button>
                    <button type="button" (click)="abrirPreview(r.t_resolucionesid!)">Vista Previa</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Paginador -->
    <div class="paginador">
        <button (click)="page = page - 1" [disabled]="page === 1">Anterior</button>
        <button (click)="page = page + 1" [disabled]="page === totalPages">Siguiente</button>
        <span>Página</span>
        <input type="number" [(ngModel)]="page" name="pagina" [min]="1" [max]="totalPages" (change)="irAPagina()">
        <span>de&nbsp;{{ totalPages }}</span>

        <div class="filtros">
            <input type="text" placeholder="Filtrar por Nro" [(ngModel)]="filtroNro"
                (input)="aplicarFiltro()">&nbsp;&nbsp;
            <input type="text" placeholder="Filtrar por Expte" [(ngModel)]="filtroExpte" (input)="aplicarFiltro()">
        </div>
    </div>
</div>

<!-- Preview -->
<app-pdf-preview *ngIf="pdfPreviewUrl" [fileUrl]="pdfPreviewUrl" (close)="cerrarPreview()"></app-pdf-preview>