<form (ngSubmit)="agregarResolucion()">
    <input type="text" [(ngModel)]="nuevaResolucion.t_resolucionesnro" name="nro" placeholder="Nro Resolución" required>
    <input type="text" [(ngModel)]="nuevaResolucion.t_resolucionesexpte" name="expte" placeholder="Expediente">
    
    <input type="text" [(ngModel)]="nuevaResolucion.t_resolucionesexptecaratula" name="caratula" placeholder="Carátula">
    <input type="date" [(ngModel)]="nuevaResolucion.t_resolucionesdate" name="fecha">
    <input type="file" (change)="onFileSelected($event)">
    <button type="submit">Agregar</button>
</form>

<table>
    <thead>
        <tr>
            <th>Nro Resolucion</th>
            <th>Título</th>
            <th>Expte</th>
            <th>Carátula</th>
            <th>Fecha</th>
            <th>Distribuidora</th>
            <th>Acciones</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of resolucionesPaginadas">
 
            <td>{{ r.t_resolucionesnro }}</td>
            <td>{{ r.t_resolucionestitulo }}</td>
            <td>{{ r.t_resolucionesexpte }}</td>
            <td>{{ r.t_resolucionesexptecaratula }}</td>
            <td>{{ r.t_resolucionesdate | date }}</td>
            <td>{{ r.distribuidora.t_distribuidorasnombre }}</td>
            <td>
                <button (click)="eliminarResolucion(r.t_resolucionesid!)">Eliminar</button>
                <span *ngIf="!r.t_resolucionesblob">No hay archivo cargado</span>
           
            
                <button (click)="descargarPDF(r.t_resolucionesid!)">Descargar PDF</button>
           
           
                <button type="button" (click)="abrirPreview(r.t_resolucionesid!)" 
                [disabled]="!r.t_resolucionesblob">Vista Previa</button>
            </td>
        </tr>
    </tbody>
    
   
    
    
</table>

 <div class="paginador">
        <button (click)="page = page - 1" [disabled]="page === 1">Anterior</button>
        
        
        
        <button (click)="page = page + 1" [disabled]="page === totalPages">Siguiente</button>
        
        <span>Página</span>
        <input
        type="number"
        [(ngModel)]="page"
        name="pagina"
        [min]="1"
        [max]="totalPages"
        (change)="irAPagina()"
        >
        <span>de&nbsp;{{ totalPages }}</span>
     
        <div class="filtros">
            <input
            type="text"
            placeholder="Filtrar por Nro"
            [(ngModel)]="filtroNro"
            (input)="aplicarFiltro()"
            >&nbsp;&nbsp;
            <input
            type="text"
            placeholder="Filtrar por Expte"
            [(ngModel)]="filtroExpte"
            (input)="aplicarFiltro()"
            >
        </div>
    </div>
   
<app-pdf-preview
*ngIf="pdfPreviewUrl"
[fileUrl]="pdfPreviewUrl"
(close)="cerrarPreview()"
></app-pdf-preview>
