<app-nav></app-nav>
<br><br><br>
<div class="container">
    <div class="header-container">
        <h2>Nueva Resolución</h2>
        
        <div class="tooltip-container">
            <button class="help-button">¿Cómo cargo? &nbsp; (❔)</button>
            <span class="tooltip-text">
            <br>
                1️ &nbsp;&nbsp;<strong>Selecciona un tema </strong><br><br>
                2️⃣ &nbsp;&nbsp;<strong>Subir el archivo Lotus </strong><br><br>
                3️⃣ &nbsp;&nbsp;<strong> Subir el archivo PDF</strong> <br><br>
                4️⃣ &nbsp;&nbsp;<strong>Click en "Cargar Resolucion"</strong> <br><br>
                
            </span>
        </div>
        
    </div> 
    <form (ngSubmit)="agregarResolucion()">
        
        <!-- TEMA -->
        <div class="form-group">
            <label for="tema">Tema:</label>
            <select id="tema" [(ngModel)]="nuevaResolucion.tema.t_temasid" name="tema" required>
                <option *ngFor="let t of temas" [value]="t.t_temasid">
                    {{ t.t_temasdescripcion }}
                </option>
            </select>
        </div>
        
        
        <!-- ARCHIVO LOTUS -->
        <div class="form-group">
            <label for="lotusFile">Archivo Lotus (solo para parsear datos):</label>
            <input id="lotusFile" type="file" (change)="onLotusFileSelected($event)">
        </div>
        
        <!-- ARCHIVO PDF -->
        <div class="form-group">
            <label for="pdfFile">Archivo PDF (se guarda en BDD):</label>
            <input id="pdfFile" type="file" accept="application/pdf" (change)="onPdfFileSelected($event)">
        </div><br style="margin-top: -15px;">
        <div class="button-container">
            <button type="submit">Cargar Resolución</button>
        </div><br>
        <br><span style="margin-left: 180px;  color: #ffffff; font-size: xx-large;" class="cormorant"><strong>Estos campos de abajo no se completan</strong></span><hr>
        <br>
        
        <!-- NRO RESOLUCIÓN -->
        <div class="form-group">
            <label for="nro">Nro Resolución:</label>
            <input id="nro" type="text" [(ngModel)]="nuevaResolucion.t_resolucionesnro" name="nro" required placeholder="Ej: 123 25">
        </div>
        
        <!-- EXPEDIENTE -->
        <div class="form-group">
            <label for="expte">Expediente:</label>
            <input id="expte" type="text" [(ngModel)]="nuevaResolucion.t_resolucionesexpte" name="expte" placeholder="Ej: 456">
        </div>
        
        <!-- CARÁTULA -->
        <div class="form-group">
            <label for="caratula">Carátula:</label>
            <input id="caratula" type="text" [(ngModel)]="nuevaResolucion.t_resolucionesexptecaratula" name="caratula" placeholder="Carátula del expediente">
        </div>
        
        <!-- TÍTULO -->
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input id="titulo" type="text" [(ngModel)]="nuevaResolucion.t_resolucionestitulo" name="titulo" placeholder="Título de la resolución">
        </div>
        
        <!-- FECHA -->
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input id="fecha" type="text" [value]="formatDateToBackend(nuevaResolucion.t_resolucionesdate)" readonly>
        </div>
        
        <!-- DISTRIBUIDORA -->
        <div class="form-group">
            <label for="distribuidora">Distribuidora ID:</label>
            <input id="distribuidora" type="number" [(ngModel)]="nuevaResolucion.distribuidora.t_distribuidorasid" name="distribuidora" readonly>
        </div>
        
        
        
        
        
    </form>
</div>
